.background-login {
    background-image: url('https://anhdephd.vn/wp-content/uploads/2022/05/background-dep.jpg');
    height: 100vh;
    width: 100%; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.login {
    background-color: #ffffff;
    width: 420px;
    height: 100vh;
    position: absolute;
    box-shadow: #000000 0px 2px 1px -1px;
    span {
        display: block;
        margin-top: 5px;
        float: right;
        margin-right:47px;
        color: #ed1c24;
    }
}

.login-img {
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.link {
    position: absolute;
    top: 40px;
    left: 10px;
    text-decoration: none;
    color: #2196f3;
}
.login-title {
    margin-top: 20px;
    font-size: 1.8rem;
    text-align: center;
}

.login-input {
    display: block;
    padding: 14px;
    border-radius: 4px;
    border: 1px solid red;
    color: #000000;
    width: 80%; 
    margin: 0 auto;
    margin-top: 70px;
    &:nth-child(2) {
        margin-top: 20px;
    }
}

.login-btn {
    margin-top: 50px;
}
.btn {
    display:block;
    width: 80%;
    margin: 0 auto;
    padding: 12px;
    margin-top: 10px;
    background-color: #ed1c24;
    color: #ffffff;
    outline: none;
    border: 1px solid red;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
}

.btn-link {
    display:block;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    color: #ed1c24;
}