.wrapper-category {
    margin-top: 130px;
    width: 100%;
    flex: 1;
    hr {
        margin-top: 20px;
    }
}

.inner-category {
    display: inline-block;
    padding-left: 10px;
    padding-top: 15px;
    a {
        margin-left: 10px;
        text-decoration: none;
        font-size: 1.4rem;
        color: #000;
        border: 1px solid transparent;
        background: rgba(128, 128, 128, 0.05);
        padding: 10px;
        &:hover {
            border: 1px solid red;
        }
    }
}

.category-list {
    margin-top: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 4px;
    padding-right: 4px;
}

.col-4 {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 4px;
    padding-right: 4px;
}
