.container {
    display: flex;
    margin: 0 auto;
}
.cart {
    margin-top: 130px;
    min-height: 400px;
    text-align: center;
    img {
        margin-top: 50px;
    }
    p {
        font-size: 1.6rem;
        color: #000;
        font-weight: 500;
        margin-top: 10px;
    }
    a {
        display: block;
        padding: 10px 20px;
        background-color: #d10a00;
        margin-top: 20px;
        text-decoration: none;
        color: aliceblue;
    }
}
