.wrapper-sidebar {
    margin-top: 123px;
    width: 300px;
    border-right: 1px solid rgb(148, 143, 143);
}

.sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}
.sidebar:nth-child(2) {
    border: none;
    margin-top: 40px;
    border-top: 1px solid rgb(148, 143, 143);
}
.sidebar-link {
    display: block;
    text-decoration: none;
    margin-left: 10px;
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: 600;
    color: #333;
}

.sidebar-icon {
    margin-top: 40px;
}
