.wrapper-only {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-container);
}
.container {
    display: flex;
    justify-content: center;
    width: 1200px;
    background-color: #fff;
}
.content {
    flex: 1;
}
