.container {
    display: flex;
    margin: 0 auto;
}
.wrapper-home {
    background-color: #ffffff;
    width: 1200px;
}

.logo {
    width: 100%;
    img {
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.title {
    padding: 6px 0;
    padding-left: 20px;
    margin-top: -6px;
    background-color: #f6f6f6;
    color: #333333;
    font-size: 1.8rem;
    line-height: 2;
    box-shadow: 3px 2px 4px rgb(0, 0, 0, 0.3);
}
.title.title-rcq {
   margin-top: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}
