.wrapper-product {
    height: 100%;
    margin-top: 123px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 1200px;
    margin-top: 10px;
    padding-bottom: 100px;
}

.heading {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    .link-home {
        color: #999999;
        text-decoration: none;
        margin-right: 5px;
    }
    .heading-icon {
        font-size: 1rem;
        color: rgb(100, 98, 98);
        margin-right: 4px;
    }
    p {
        color: #999999;
    }
}
.row {
    display: flex;
}
.product-img {
    flex: 0 0 40%;
    max-width: 40%;
    img {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
.product-title {
    padding-left: 20px;
    padding-right: 20px;
    flex: 0 0 60%;
    max-width: 60%;
    color: #999999;
    font-weight: 300;
    h4 {
        margin-top: 40px;
        font-size: 1.8rem;
    }
    a {
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: 400;
        color: blue;
    }
    span {
        display: block;
    }
}
.price {
    background-image: url('https://winmart.vn/_next/static/images/bg-product-1fb6a3ec6319488c0e5d03e99a3500c4.jpg');
    width: 100%;
    height: 130px;
    padding: 10px;
    color: #333;
    hr {
        margin-top: 20px;
    }
}
.price-sale {
    display: flex;
    margin-bottom: 10px;
    p {
        margin-right: 40px;
    }
    span {
        text-decoration: line-through;
        color: #000;
        font-weight: 500;
    }
}
.price-present {
    display: flex;
    border-bottom: 1px solid #333;
    p {
        margin-right: 40px;
    }
    span {
        color: #000;
        font-weight: 500;
    }
}

.price-status {
    display: flex;
    margin-top: 20px;
    p {
        margin-right: 40px;
    }
    span {
        color: #000;
        font-weight: 500;
    }
}

.price-time {
    display: flex;
    margin-top: 30px;
    p {
        margin-right: 40px;
    }
    span {
        color: #333;
        font-weight: 500;
        font-size: 1.4rem;
    }
}

.price-btn {
    display: flex;
    margin-top: 30px;
    p {
        margin-right: 70px;
    }
    button {
        color: red;
        font-weight: 500;
        font-size: 1.4rem;
        padding: 8px 14px;
        border: 1px solid red;
        cursor: pointer;
    }
}

.price-type {
    display: flex;
    margin-top: 30px;
    p {
        margin-right: 70px;
    }
    button {
        color: red;
        font-weight: 500;
        font-size: 1.4rem;
        padding: 8px 14px;
        border: 1px solid red;
        cursor: pointer;
    }
    input {
        width: 30px;
        border: 1px solid red;
        padding: 10px;
        outline: none;
        &::placeholder {
            font-size: 1.4rem;
        }
        &:focus {
            border: 1px solid rgb(107, 88, 88);
        }
    }
}

.price-btn {
    .btn-price {
        width: 200px;
        color: #fff;
        font-weight: 500;
        font-size: 1.4rem;
        padding: 10px 20px;
        background-color: red;
        cursor: pointer;
        margin-right: 40px;
    }
    .transparent {
        background-color: transparent;
        color: red;
    }
}

.details-title {
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
}

.details-title-left {
    flex: 0 0 60%;
    max-width: 60%;
}
.details-title-right {
    flex: 0 0 40%;
    max-width: 40%;
}

.details-product {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    width: 100%;
}

.details-img {
    flex: 0 0 60%;
    max-width: 60%;
    padding: 10px;
    padding-bottom: 50px;
    img {
        width: 30%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    span {
        display: block;
    }
}

.details-information {
    flex: 0 0 40%;
    max-width: 40%;
    padding: 10px;
}

.details-information-title {
    display: flex;
    color: #999999;
    font-size: 1.5rem;
    border-bottom: 1px solid #999999;
    margin-bottom: 20px;
    align-items: center;
    p {
        flex: 0 0 50%;
        padding-right: 10px;
    }
    .information-title {
        flex: 00 50%;
        padding-right: 10px;
    }
}

.evaluate {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.evaluate-product {
    width: 100%;
    background-color: #fff;
}

.form {
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.evaluate-product-form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.evaluate-product-left {
    flex: 0 0 15%;
    max-width: 15%;
    span {
        color: red;
    }
}

.evaluate-product-right {
    flex: 0 0 85%;
    max-width: 85%;
    padding-right: 20px;
}

.evaluate-product-input {
    padding: 8px;
    width: 100%;
    margin-right: 20px;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgb(100, 98, 98);
}
.evaluate-product-input:focus {
    border: 1px solid red;
    color: #000;
}
.icon-start {
    color: gold;
    margin-right: 5px;
    font-size: 1.8rem;
}

.evaluate-product-input.evaluate-product-input-width {
    padding-bottom: 50px;
}

.btn-evaluate {
    margin-left: 175px;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}

.coalition-products {
    padding: 10px;
}

.coalition-products-list {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.padding-20px {
    padding-bottom: 20px;
}
