.wrapper {
    background-color: var(--primary);
    height: var(--header-layout);
    display:flex;
    justify-content: center;
    align-items: center;
}
.inner {
    height: 100%;
    width: 1200px;
    background-color: aliceblue;
}
