.wrapper {
    background-color: var(--primary);
    height: var(--header-layout);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner {
    width: 1200px;
    max-width: 100%;
    display: flex;
    align-items: center;
}
.logo {
    img {
        width: 150px;
    }
}
.header-input {
    width: 100%;
    position: relative;
}
.search-icon {
    position: absolute;
    right: 88px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: var(--primary);
    height: 100%;
}
.header-search {
    flex: 1;
    width: 80%;
    padding: 10px 0;
    margin-left: 60px;
    padding-left: 10px;
}

.header-link {
    display: flex;
    align-items: center;
    width: 660px;
    font-size: 1.6rem;
    font-weight: 600;
    a {
        text-decoration: none;
        color: #eee6e7;
        margin-right: 16px;
    }
}
.header-icon {
    font-size: 1.4rem;
    margin-right: 5px;
}
.header-bottom {
    height: 40px;
    background-color: #eee6e7;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 2px 4px rgb(0, 0, 0, 0.3);
}

.content {
    width: 1200px;
    height: 40px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-list {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: #333;
}

.header-item {
    list-style: none;
    margin-right: 20px;
}

.icon-down {
    padding-top: 3px;
    font-size: 1.4rem;
}

.header-item-red {
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: 700;
}
